<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>ru.job4j.cars.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.cars.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CarListServlet</servlet-name>
        <servlet-class>ru.job4j.cars.CarListServlet</servlet-class>
        <!--<load-on-startup>0</load-on-startup>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>CarListServlet</servlet-name>
        <url-pattern>/itemlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>ru.job4j.cars.AddCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarPageServlet</servlet-name>
        <servlet-class>ru.job4j.cars.CarPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarPageServlet</servlet-name>
        <url-pattern>/car-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCarServlet</servlet-name>
        <servlet-class>ru.job4j.cars.UpdateCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCarServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>ru.job4j.cars.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.job4j.cars.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>ru.job4j.cars.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.job4j.cars.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>ru.job4j.cars.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin Controller</servlet-name>
        <servlet-class>ru.job4j.cars.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin Controller</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signout Controller</servlet-name>
        <servlet-class>ru.job4j.cars.SignoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signout Controller</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

</web-app>